---
import SectionList from './SectionList.astro'
import { Image } from 'astro:assets'
import VbFLmG5 from '../images/VbFLmG5.png'
import tumblr_oym1fpLWmj1s01gf9o1_500 from '../images/tumblr_oym1fpLWmj1s01gf9o1_500.gif'
import blade_runner_2049_sylvia_hoeks_luv from '../images/blade-runner-2049-sylvia-hoeks-luv.png'
import face_scan from '../images/BR2049_Face_Scan.webp'
import img_9kw9d7ihqkpa1 from '../images/9kw9d7ihqkpa1.gif'
import eye from '../images/5b85273e54e3c176a065c0eb8e521783.gif'
import rain from '../images/tumblr_b7f3d751d7c983d4a963da72e1295202_1387c5cf_540.gif'
import fight_1 from '../images/miguel-ortiz-triboro-8.gif'
import miguel_ortiz_triboro_5 from '../images/miguel-ortiz-triboro-5.gif'
import cake from '../images/tumblr_p33k7fyJ6z1r49x55o5_540.webp'

const professional = [
    {
        organisation: "Timera Energy",
        link: 'https://timera-energy.com',
        title: 'Technical Analyst',
        time: '2025 - Present'
    },
    {
        organisation: 'Zendo Energy',
        link: 'https://zendoenergy.com',
        title: 'Researcher',
        time: 'Summer 2025'
    },
    {
        organisation: 'Low Carbon Contracts Company',
        link: 'https://www.lowcarboncontracts.uk',
        title: 'Quantitative Developer Intern',
        time: 'Summer 2023'
    },
    {
        organisation: 'The University of Hong Kong',
        link: 'https://www.hku.hk',
        title: 'Teaching Assistant',
        time: '2021 - 2023'
    },
    {
        organisation: 'Shatin Pui Ying College',
        link: 'https://www.pyc.edu.hk',
        title: 'Fullstack Developer',
        time: 'Summer 2022'
    },
    {
        organisation: 'Shatin Pui Ying College',
        link: 'https://www.pyc.edu.hk',
        title: 'Maths and Physics Programmer',
        time: '2021 - 2022'
    }
]

const academia = [
    {
        organisation: 'Imperial College London',
        link: 'https://www.imperial.ac.uk',
        title: 'MSc Environmental Data Science and Machine Learning',
        time: '2024 - 2025'
    },
    {
        organisation: 'The University of Hong Kong',
        link: 'https://www.hku.hk',
        title: 'BEng Computer Science',
        time: '2020 - 2024'
    },
    {
        organisation: 'Royal Holloway, University of London',
        link: 'https://www.royalholloway.ac.uk',
        title: 'Study Abroad',
        time: '2023'
    }
]

const events = [
    {
        time: '2023',
        url: 'https://csgo.com.hk/2023/12/20/ti-esports-win-cs-1-6-lan-party-december-2023/news/',
        title: 'Invitee, Hong Kong CS 1.6 Showmatch',
        organisation: 'TiG (ASUS sponsored)',
        link: 'https://csgo.com.hk/2023/12/20/ti-esports-win-cs-1-6-lan-party-december-2023/news/'
    },
    {
        time: '2023',
        url: 'https://algogene.com/contest/atccrypto22',
        title: 'Finalist, Algo Crypto Trading Challenge',
        organisation: 'AlgoGene',
        link: 'https://algogene.com/contest/atccrypto22'
    },
    {
        time: '2023',
        url: '',
        title: 'Estimathon',
        organisation: 'Jane Street',
        link: 'https://estimathon.com'
    },
    {
        time: '2022',
        url: 'https://www.linkedin.com/in/lemuelkl/overlay/1635521413764/single-media-viewer/',
        title: '2nd, Electronic Trading Challenge',
        organisation: 'Jane Street',
        link: 'https://www.janestreet.com'
    },
    {
        time: '2022',
        title: 'Winner, Scrum Master Competition',
        organisation: 'Morgan Stanley',
        link: 'https://www.morganstanley.com'
    },
    {
        time: '2022',
        url: 'https://www.linkedin.com/feed/update/urn:li:activity:6981847276658860032/',
        title: 'Code For Good',
        organisation: 'J.P. Morgan',
        link: 'https://www.jpmorgan.com'
    },
    {
        time: '2022',
        url: 'https://innoacademy.engg.hku.hk/hack/',
        title: 'Selected Project, HKU 6th InnoShow',
        organisation: 'The University of Hong Kong',
        link: 'https://innoacademy.engg.hku.hk/hack'
    },
    // {
    //     time: '19',
    //     url: 'https://std.stheadline.com/smartparents/article/2572/%E5%91%A8%E5%88%8A%E5%85%A7%E5%AE%B9-%E5%8D%87%E5%AD%B8%E6%95%99%E8%82%B2-%E6%B2%99%E7%94%B0%E5%9F%B9%E8%8B%B1%E4%B8%AD%E5%AD%B8-STEM%E6%88%90%E8%B3%87%E5%84%AA%E6%95%99%E8%82%B2%E9%87%8D%E9%BB%9E-610%E6%9C%9F',
    //     title: 'STEM Camp',
    //     organisation: 'Shaitn Pui Ying College'
    // },
    {
        time: '2017',
        url: 'https://www.ee.cityu.edu.hk/events/summer_camp2017',
        title: '2nd, Mini Robotic Car Competition',
        organisation: 'City University of Hong Kong',
        link: 'https://www.ee.cityu.edu.hk/events/summer_camp2017'
    }
]
---

<div class="flex flex-col gap-48 pt-64">
    <div class="2xl:max-w-7xl mr-auto flex gap-6 items-start">
        <Image
            src={face_scan}
            alt="Blade Runner 2049 Limo and Spinner"
            loading="lazy"
        />
        <Image
            src={img_9kw9d7ihqkpa1}
            alt="Blade Runner 2049 Limo and Spinner"
            loading="lazy"
        />
        <Image
            src={eye}
            alt="Blade Runner 2049 Limo and Spinner"
            loading="lazy"
        />
        <Image
            src={rain}
            alt="Blade Runner 2049 Limo and Spinner"
            loading="lazy"
        />
    </div>
    <SectionList
        title="Experience"
        subtitle="The knowledge or practical wisdom gained from what one has observed, encountered, or undergone."
        data={professional}
    />
    <SectionList
        title="Education"
        subtitle="The process of receiving or giving systematic instruction, especially at a school or university."
        data={academia}
    />
    <div class="flex gap-6 items-start">
        <Image
            class=""
            src={miguel_ortiz_triboro_5}
            alt="Blade Runner 2049 Limo and Spinner"
            loading="lazy"
        />
        <Image
            src={cake}
            alt="Blade Runner 2049 Limo and Spinner"
            loading="lazy"
        />
    </div>
    <SectionList
        title="Competition"
        subtitle="The activity or condition of striving to gain or win something by defeating or establishing superiority over others."
        data={events}
    />
    <Image
        class="border-t-2"
        src={VbFLmG5}
        alt="Blade Runner 2049 Limo and Spinner"
        loading="lazy"
    />
</div>
