---
const industry_experiences = [
    {
        organisation: 'Zendo Energy',
        role: 'Quantitative Developer',
        time: 'Now'
    },
    {
        organisation: 'Low Carbon Contracts Company',
        role: 'Quantitative Developer Intern',
        time: '23'
    },
    {
        organisation: 'The University of Hong Kong',
        role: 'Teaching Assistant',
        time: '21 - 23'
    },
    {
        organisation: 'Shatin Pui Ying College',
        role: 'Maths and Physics Programmer',
        time: '21 - 22'
    }
]

const academic_experiences = [
    {
        organisation: 'Imperial College London',
        role: 'MSc Environmental Data Science and Machine Learning',
        time: '24 - 25'
    },
    {
        organisation: 'The University of Hong Kong',
        role: 'BEng Computer Science',
        time: '20 - 24'
    },
    {
        organisation: 'Royal Holloway, University of London',
        role: 'Study Abroad',
        time: '23'
    }
]

// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
    return 1500 + index * 200
}
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto mt-32">
        <div class="mt-6 space-y-2">
            <div class="my-12" data-aos="fade-up" data-aos-duration="1500">
                <span class="text-7xl font-extralight">INDUSTRY</span>
            </div>
        </div>
        <div
            class="flex flex-col text-secondary pt-2 mt-2 gap-1 divide-y divide-secondary/20 lg:divide-y-0"
        >
            {
                industry_experiences.map((item, index) => (
                    <div
                        data-aos="fade-up"
                        data-aos-duration={calculateAosDuration(index)}
                    >
                        <div class="flex flex-col justify-between items-start lg:grid grid-cols-10 lg:gap-3 lg:items-center py-1 ">
                            <span class="hidden lg:block text-sm col-start-1 col-end-1">
                                {item.time}
                            </span>

                            <span class="text-sm col-start-3 col-end-6">
                                {item.organisation}
                            </span>

                            <span class="text-sm col-start-6 col-end-10">
                                {item.role}
                            </span>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto mt-32">
        <div class="my-12" data-aos="fade-up" data-aos-duration="1500">
            <span class="text-6xl font-extralight">ACADEMIA</span>
        </div>
        <div
            class="flex flex-col text-secondary pt-2 mt-2 gap-1 divide-y divide-secondary/20 lg:divide-y-0"
        >
            {
                academic_experiences.map((item, index) => (
                    <div
                        data-aos="fade-up"
                        data-aos-duration={calculateAosDuration(index)}
                    >
                        <div class="flex flex-col justify-between items-start lg:grid grid-cols-10 lg:gap-3 lg:items-center py-1 ">
                            <span class="hidden lg:block text-sm col-start-1 col-end-1">
                                {item.time}
                            </span>

                            <span class="text-sm col-start-3 col-end-6">
                                {item.organisation}
                            </span>

                            <span class="text-sm col-start-6 col-end-10">
                                {item.role}
                            </span>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
