---
// SectionList.astro
const { title, subtitle, data } = Astro.props
---

<section class="bg-primary">
    <div class="px-2 lg:px-8 2xl:max-w-7xl mx-auto grid grid-cols-4 gap-12">
        <div class="col-span-1 row-start-1 mb-6">
            <span>{title}</span>
            <div class="text-xs font-light hidden md:block">
                {subtitle}
            </div>
        </div>
        <div
            class="row-start-2 md:row-start-1 col-start-1 md:col-start-2 col-span-3 flex flex-col justify-items-start text-secondary pb-2 mb-2 gap-6"
        >
            {
                data.map((item, index) => (
                    <div class="md:grid flex flex-col md:grid-cols-3 gap-x-12">
                        {/* <span
                                class={`text-sm ${item.time === 'Now' ? 'text-accent' : ''}`}
                            >
                                {item.time}
                            </span> */}
                        <span class="text-sm row-start-2">
                            {item.organisation}
                        </span>
                        <span class="text-sm row-start-2 col-span-2 flex justify-between">
                            <div>{item.title}</div>
                            <div>{item.time}</div>
                        </span>
                    </div>
                ))
            }
        </div>
    </div>
</section>
