---
// SectionList.astro
const { title, data, calculateAosDuration } = Astro.props
---

<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto mt-48 grid grid-cols-4 grid-rows-2"
    >
        <div
            class="col-span-4 lg:col-span-1 row-start-1"
            data-aos="fade-up"
            data-aos-duration="1500"
        >
            <span class="font-extralight text-4xl">{title} </span>
        </div>
        <div
            class="row-start-2 lg:row-start-1 col-start-1 lg:col-start-2 col-span-4 lg:col-span-3 flex flex-col justify-items-start text-secondary pb-2 mb-2 gap-1"
        >
            {
                data.map((item, index) => (
                    <div
                        data-aos="fade-up"
                        data-aos-duration={calculateAosDuration(index)}
                    >
                        <div class="grid grid-cols-3 gap-6 py-1">
                            <span class="text-sm text-right">{item.time}</span>
                            <span class="text-sm">{item.organisation}</span>
                            <span class="text-sm">{item.title}</span>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
