---
// SectionList.astro
const { title, data, calculateAosDuration } = Astro.props
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto mt-48">
        <div class="my-16" data-aos="fade-up" data-aos-duration="1500">
            <span class="font-extralight text-4xl">{title} </span>
        </div>
        <div
            class="flex flex-col text-secondary pt-2 mt-2 gap-1 divide-y divide-secondary/20 lg:divide-y-0"
        >
            {
                data.map((item, index) => (
                    <div
                        data-aos="fade-up"
                        data-aos-duration={calculateAosDuration(index)}
                    >
                        <div class="flex flex-col justify-between items-start lg:grid grid-cols-4 lg:gap-3 lg:items-center py-1">
                            <span class="hidden lg:block text-sm col-start-1 col-end-2">
                                {item.time}
                            </span>
                            <span class="text-sm col-start-2 col-end-3">
                                {item.organisation}
                            </span>
                            <span class="text-sm col-start-3 col-end-5">
                                {item.title}
                            </span>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
