---
// SectionList.astro
const { title, subtitle, data } = Astro.props
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto grid grid-cols-4 gap-12">
        <div class="mb-6 col-start-1 col-span-1">
            <div>{title}</div>
            <div class="text-xs font-light hidden md:block">
                {subtitle}
            </div>
        </div>
        <div
            class="row-start-2 md:row-start-1 md:col-start-3 col-span-4 md:col-span-2 flex flex-col justify-items-start text-secondary pb-2 mb-2 gap-6"
        >
            {
                data.map((item, index) => (
                    <div class="text-sm leading-6">
                        <div>{item.time}</div>
                        <div>{item.title}</div>
                        <div>{item.organisation}</div>
                        <a href={item.link} target="_blank" class="text-accent/70 hover:text-accent">
                            {item.link ? item.link.replace(/^https?:\/\//, '') : ''}
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</section>
